<div class="comment">
    <p class="comment__nickname {{#if isWriterComment}}comment__nickname_writer{{/if}}" data-role="news-author">Comment by Proskurlyakov</p>
    <p class="comment__text {{#if isWriterComment}}comment__text_writer{{/if}}" data-role="news-comment">Ultricies diam parturient lectus nec tortor sagittis. Quis nisi etiam iaculis tincidunt nunc sapien magnis. In dolor placerat nulla in massa viverra phasellus in. Sed diam risus, facilisis bibendum laoreet condimentum id.</p>
</div>