@import '../../styles/general.scss';

@import '../../components/news/news.scss';
@import '../../components/navigation/navigation.scss';


.index {
    padding: 30rem;

    .news-section {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .news {
        width: 100%;
    }
}