<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/index/index.css">
    <title>News</title>
</head>
<body>
    {{> navigation/navigation }}
    <main class="index">
        <section class="news-section">

            {{#each context}}
                {{> 'news/news' this }}
            {{/each}}

        </section>
    </main>
    <script type="module" src="/pages/index/index.js"></script>
</body>
</html>