.news {
    display: flex;
    
    &__container {
        max-width: 600rem;
    }

    // TODO - Определить миксин для данных настроек шрифта
    &__title {
        font-size: 36rem;
        font-family: 'Noto-Serif', sans-serif;
        line-height: 136%;
    }

    &__author-comment-section {
        margin: 25rem 0 0;
    }
    
    // TODO - Определить миксин для данных настроек шрифта
    &__author-name {
        color: $accent-color;
        // TODO - Поправить подключение шрифта
        font-family: 'Noto-Sans', sans-serif;
        font-size: 16rem;
        line-height: 136%;
    }

    &__author-comment {
        font-size: 16rem;
        font-family: 'Noto-Sans', sans-serif;
        line-height: 136%;
        margin: 8rem 0 0;
    }

    &__controllers {
        display: flex;
        justify-content: end;
        margin: 15rem 0 0;
    }

    &__publisher-page-links {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20rem;

        .publisher-page-link:not(:first-child) {
            margin: 10rem 0 0;
        }
    }

    .button-text {
        width: 144rem;
        height: 26rem;
    }
}