<ul class="comment-list">
    <li class="comment-list__item">
        {{> comment/comment }}
    </li>
    <li class="comment-list__item">
        {{> comment/comment }}
    </li>
    <li class="comment-list__item">
        {{> comment/comment }}
    </li>
    <li class="comment-list__item">
        {{> comment/comment }}
    </li>
    <li class="comment-list__item">
        {{> comment/comment }}
    </li>
    <li class="comment-list__item">
        {{> comment/comment }}
    </li>
</ul>