<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/singIn/singIn.css">
    <title>News Sing In</title>
</head>
<body>
    <main class="sing-in">
        <nav class="navigation">
            <ul class="navigation__list-links">
                {{> navigationItem/navigationItem
                    path='/'
                    imageAbsolutePath='/img/iconsSolidRedColor/Home.svg'
                    label='Домой'
                }}
            </ul>
        </nav>
        <form class="sing-in-form" id="sing-in-from" method="post" action="#">
            {{> field/field fieldLabel='ваш логин' fieldName='login' inputType='text' absolutePathToFieldIcon='/img/iconsSolidColor/User.svg'}}
            {{> field/field fieldLabel='ваш пароль' fieldName='password' inputType='password' absolutePathToFieldIcon='/img/iconsSolidColor/Lock.svg'}}
            <div class="sing-in-form__action-and-error">
                {{> errorNote/errorNote }}
                <button type="submit" class="button-text button-text_accent">отправить</button>
            </div>
        </form>
    </main>
    <script type="module" src="/pages/singIn/singIn.js"></script>
</body>
</html>