<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/yourNews/yourNews.css">
    <title>News Sing Un</title>
</head>

<body class="your-news">
    <nav class="navigation">
        <ul class="navigation__list-links">
            {{> navigationItem/navigationItem
                path='/your-news'
                imageAbsolutePath='/img/iconsSolidRedColor/Home.svg'
                label='опубликованное'
            }}
            {{> navigationItem/navigationItem
                path='/write'
                imageAbsolutePath='/img/iconsSolidColor/Pen.svg'
                label='написать'
            }}
        </ul>
    </nav>
    <main class="published-news">
        {{> adminPageTitle/adminPageTitle title='Список ваших новостей' }}
        <ul class="published-news-list">
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
            <li class="published-news-list__item">
                <h2 class="published-news-list__title">Nisi, quam nisl est sed nulla sed. Ut sagittis consequat ultricies odio nisi, morbi placerat.</h2>
                <p class="published-news-list__comment">Laoreet magna morbi pulvinar ullamcorper nec felis, pretium id. Potenti lacus felis tellus sit. In proin aliquam nisl mi feugiat sit. Nulla interdum in ut in. Enim tellus sit tincidunt ornare erat vitae egestas. Feugiat quis in mus viverra libero facilisis dignissim malesuada. Viverra at et at faucibus tempor in nibh.</p>
                {{> newsPublickStatistics/newsPublickStatistics}}
            </li>
        </ul>
    </main>
</body>

</html>