<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/yourNews/yourNews.css">
    <title>News Sing Un</title>
</head>

<body class="your-news">
    {{> navigation/navigation }}
    <main class="published-news">
        {{> adminPageTitle/adminPageTitle title='Список ваших новостей' }}
        <ul class="published-news-list">
            {{#each context }}
                <li class="published-news-list__item">
                    <h2 class="published-news-list__title">
                        {{ this.heading }}
                    </h2>
                    <p class="published-news-list__comment">
                        {{ this.authorComment }}
                    </p>
                    {{> newsPublickStatistics/newsPublickStatistics this }}
                </li>
            {{/each}}
        </ul>
    </main>
</body>

</html>