<div class="news">
    <h2 class="news__title" data-role="news-title">{{ context.heading }}</h2>
    {{> comment/comment isWriterComment="true"}}
    <div class="news__controllers">
        {{> newsPublickStatistics/newsPublickStatistics}}
        <button class="button-text" data-role="news-comment-button">Комментировать</button>
    </div>
    <div class="news__publisher-page-links">
        {{#each context.PublisherPages}}
            {{> publisherPageLink/publisherPageLink this }}
        {{/each}}
    </div>
    <div class="news__comments hidden" data-role="news-comments-section">
        {{> commentList/commentList }}
    </div>

    <div class="news__comment-form">
        {{> field/field absolutePathToFieldIcon='/img/iconTwoColors/Chat.svg' inputType='text' fieldName='Введите ваш комментарий'}}
        <button class="news__send-comment button-text button-text_accent">Отправить</button>
    </div>

</div>
