@import '../button-text/button-text';
@import '../publisherPageLink/publisherPageLink';
@import '../newsPublickStatistics/newsPublickStatistics';
@import '../field/field';
@import '../commentList/commentList';
@import '../comment/comment';

.news {
    position: relative;
    padding: 0 45rem 0 0;
    max-width: 600rem;

    &__title {
        @include setFontNewsTitle();
    }

    &__controllers {
        display: flex;
        justify-content: space-between;
        margin: 15rem 0 0;

        .button-text {
            width: 144rem;
            height: 26rem;
        }
    }

    &__publisher-page-links {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 5rem;
        right: 0;

        .publisher-page-link:not(:first-child) {
            margin: 10rem 0 0;
        }
    }

    &__comment-form {
        margin: 48rem 0 0;
        display: grid;
        grid-template-columns: auto minmax(auto, 100rem);
    }

    &__send-comment {
        align-self: flex-end;
        max-height: 26rem;
    }

    &__comments {
        margin: 20rem 0 0;
    }

    & > .comment {
        margin: 25rem 0 0;
    }

    .button-text {
        width: 144rem;
        height: 26rem;
    }
}

.hidden {
    display: none;
}