<div class="news">
    <h2 class="news__title" data-role="news-title">{{ heading }}</h2>
    {{> comment/comment isWriterComment="true"}}
    <div class="news__controllers">
        {{> newsPublickStatistics/newsPublickStatistics}}
        <button class="button-text" data-role="news-comment-button">Комментировать</button>
    </div>
    <div class="news__publisher-page-links">
        {{#each PublisherPages}}
            {{> publisherPageLink/publisherPageLink this }}
        {{/each}}
    </div>
    <div class="news__comments hidden" data-role="news-comments-section">
        <form id="send-comment-form" class="news__comment-form">
            {{> field/field absolutePathToFieldIcon='/img/iconTwoColors/Chat.svg' errorMessage=' ' inputType='text' fieldName='content' fieldLabel='Введите ваш комментарий'}}
            <button id="send-comment" class="news__send-comment button-text button-text_accent">Отправить</button>
        </form>
        
        {{> commentList/commentList }}
    </div>
</div>
